* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Xanh Mono', monospace;
    font-weight: 400;
    font-size: 20px;
}

header {
    position: sticky;
    top: 0;
}
/*--===============--Navigation--=================--*/
.nav-bar {
    background-color: white;
    height: 100px;
}
.nav-items {
    list-style: none;
    float: right;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    
}
.nav-links {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
}
.nav-items a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato';
    color: black;
    font-weight: 400;
    font-size: 95%;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
}

/*--===============--Home--=================--*/
#home {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.row {
    width: 100%;
    margin: 0 auto;
}
.left {
    width: 40%;
    float: left;
    padding-left: 80px;
    margin-top: 80px;
}
.left h1 {
    padding: 0 auto;
    margin: 20px 0;
    font-size: 200%;
    color: rgb(59, 59, 59);
    letter-spacing: 2px;
    word-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
.highlight {
    color: tomato;
}
p {
    color: black;
    text-align:left;
    margin: 25px auto;
    letter-spacing: 1px;
    line-height: 150%;
}
.btn {
    margin-top: 25px;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 25px;
    border-radius: 10px;
    font-family: 'Arial';
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 80%;
}
.right {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    padding-left: 1%;
}

.right img {
    width: 90%;
}
/*--===============--About Me--=================--*/
#about-me {
    background-image: url(images/about-me-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.left-area {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    padding-left: 1%;
}

.left-area img {
    width: 70%;
}
.right-area {
    width: 40%;
    float: right;
    margin-top: 80px;
    margin-right: 150px;
}


.right-area h2 {
    padding: 0 auto;
    margin: 15px 0;
    font-size: 200%;
    color: #363958;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 400;
}

/*--===============--proejects--=================--*/
.project-title {
    padding-top: 40px;
    text-align: center;
    color: #363958;
    padding: 0px auto;
    font-size: 200%;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-weight: 600;
}

.project-area {
    padding-top: 75px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project-area img {
    box-shadow: linear-gradient(to bottom, #6699ff 0%, #99ff99 100%);
    transform: scale(1.00);
    transition: transform 0.5s;
    height: 250px;
    width: auto;
}
/*--===============--Footer--=================--*/
.footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(245, 0, 0);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}